@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap');


/*Usar no princípio do código para resetar qualquer estilização.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1f1517;
    color: #FFFFFF;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*Barra de navegação*/
nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
     text-transform: uppercase;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem; /*Gap: é uma propriedade utilizada para definir o espaçamento entre os elementos de um grid ou flexbox.*/
    color: #FFF2E780;
}

.github{
   color: #FFF2E7;
   font-weight: 600; 
}

main{
    display: flex;
    flex-direction: column;
}

.principal{
    background: #181012;
}

.hero{
    max-width: 1120px; /*largura máxima*/
    height: 60vh; /*vh - view height -  é a altura da tela do navegador*/

    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destaque{
   font-family: Epilogue;
   font-size: 1rem;
   font-weight: 500;
   text-transform: uppercase;
}

.marrom{
  color: #A45A49;  
}

.amarelo{
    color: #E7A80E;
}

h1{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;
}

hr{
    border-color: #A45A49;
}

.hero-subtitulo{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-imagens-container{
    max-width: 45%;  
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-imagens-container > figure > img{ /*possibilta editar qualquer tag que esteja dentro de outra tag dentro de uma classe */

    width: 100%;
    border-radius: 0.5rem;
}

.botao-container{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate("0, -50");
}

button{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;

    background: #A45A49;
}

.receitas{
    display: flex;
    flex-direction: column;

    max-width: 112opx;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo{
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitulo{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-container{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.receitas-card{
    background: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top: 2rem;
}

.receitas-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo{
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 700;
}

.receita-avaliacao{
    color: #756A67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img{
    border-radius: 20rem;
    width: 1.5rem;
}

.receita-autor-nome{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-copy{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-autor{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;

    display: flex;
    flex-direction:horizontal;
    justify-content: space-between;
    
    /* display: flex;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;*/

    /*column-count: 2;
    column-gap: 1rem;
    margin: -1rem;*/
}